.container {
    width: 100%;
    height: 100%;
    margin: 0%;
    
  }
.card{
    display: flex;
    width: 1091px;
    padding:12px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gapPainelUi, 24px);
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-container input{
    width:1036px;
    height: 45px;
    border-radius:5px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid ;
    opacity: 0.3;

}
.input-container input::placeholder {
    padding-left: 10px;
}

.input-container label {
    font-weight: bold;
}

 .but{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.but button {
    background-color: transparent;
    width: 49%;
    height: 45px;
    border-radius: 5px;
    color: #D25713;
    transition: transform 0.2s ease;
    border: 1px solid transparent;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: #D25713;
}

.but button:hover{
    transform: scale(1.05);
}

.but button.active {
        background-color:#D25713;
        color:white;
    }
    

    
.but2 {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}


.but2 button {
    background-color: #22BB55;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    margin: 30px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .but2 button:hover {
    transform: scale(1.1);
}

.fundo {
    position: fixed;
    width: 643px;
    height: 345px;
    bottom: auto; 
    z-index: -1;
    top: 487px; 
    left: 0; 
}





.input-wrapper {
    position: relative;
    flex: 1;
}


.input-wrapper button:hover {
    transform: scale(1.2);

}
.edit-button {
    position: absolute;
    right: 5px;
    top: 25%;
    background-color: transparent;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url('../../images/registerPage/Icons.png');
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease;
    
}